body {
	font-family: "Verdana";
	background: darkgray;
	color: black;
	font-size: 12;
}

h1 {
	color: red;
	font-size: 16;
}


h2 {
	color: red;
	font-size: 14;
	font-weight: bold;
}

h3 {
	color: red;
	font-size: 12;
	font-weight: bold;
}

h4 {
	color: red;
	font-size: 12;
}

DIV.race {
	max-width: 440px;
	min-height: 240px;
	
}

/* unvisited link */
A.raceLink:link {
    color: white;
}

/* visited link */
A.raceLink:visited {
    color: darkgray;
}

/* mouse over link */
A.raceLink:hover {
    color: lightgray;
}

/* selected link */
A.raceLink:active {
    color: whitesmoke;
}