<home>
    <main>
        <div class="news">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/src/assets/img-news.png"></img>
                        <h2>Notizia 1</h2>
                        <p>Pilota beccato in mutande con l'amante del suo collega</p>
                    </div>
                    <div class="col-md-4">
                        <img src="/src/assets/img-news.png"></img>
                        <h2>Notizia Lampo 2</h2>
                        <p>The best way to start coding are design patterns applied in several coding languages</p>
                    </div>
                    <div class="col-md-4">
                        <img src="/src/assets/img-news.png"></img>
                        <h2>Notizia 3</h2>
                        <p>Always been up-to-date with the cooles market trends and latest technologied</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <aside>
        <div class="container">
            <race-results>
                <h3>Race positions #213</h3>
                <ol>
                    <li class="race-result"><span>Abrham Lincoln</span></li>
                    <li class="race-result"><span>George Bux</span></li>
                    <li class="race-result"><span>Nixxxxon</span></li>
                    <li class="race-result"><span>Dani California</span></li>
                    <li class="race-result"><span>Ace of Spades</span></li>
                </ol>
            </race-results>
        </div>
    </aside>
</home>