<div class="container">
    <a id="about"></a>
    <div id="title">
        <div class="credits">
            <span>Project owned &amp; maintained by <a href="https://github.com/johnatandante">johnatandante</a></span>
        </div>
        <div class="credits">
            <span>Github Repo hosted on <a href="https://github.com/johnatandante/Allianz.F1/">Github.com</a></span>
        </div>
        <div class="credits" ng-show="home.facebook">
            <span>Facebook page: <span>Not Available</span></span>
        </div>
        <div class=" credits" ng-show="home.tweetter">
            <span>Online Tweets: <span>Not Available</span></span>
        </div>
        <div class="credits">
            <span>F1 data served by <a href="http://ergast.com/mrd/">Ergast.com Developer API</a></span>
        </div>
        <div class="credits">
            <span>Hosted on: <a href="http://openshift.com"><code>OpenShift</code></a></span>
        </div>
        <div class="credits">
            <div>
                <span>Powered by:</span>
            </div>
            <div class="row">
                <div class="powered-by">
                    <div class="col-md-1">
                        <a href="http://www.github.com"><span class="github-icon-bkg img-64"></span></a>
                    </div>
                    <div class="col-md-1">
                        <a href="https://angular.io"><span class="angular-icon-bkg img-64"></span></a>
                    </div>
                    <div class="col-md-1">
                        <a href="http://bootstrap.io"><span class="bootstrap-icon-bkg img-64"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>