.img-64{
    padding: 2em;
    min-width:64px;
}

/* Menu img Icons 
-------------------------------------------------- */

.navbar {
  margin-bottom: 0;
}

.login-menu{  
  margin-top: -0.5em;
}

.img-icon{
    max-width: 32px;
    max-height: 32px;
}

/* Footer Bkg Icon 
-------------------------------------------------- */

.github-icon-bkg{
    background-image: url("/assets/GitHub-Mark-64px.png");
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 3em;
}
.angular-icon-bkg{
    background-image: url("/assets/angular.png");
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 3em;
}
.bootstrap-icon-bkg{
    background-image: url("/assets/bootstrap.png");
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 3em;
}

.powered-by{
  padding-top: 1.5em;
}

/* Main
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 260px;
}

.img-news-wide {
  max-height: 265px;
  max-width: 512px;
  align-content: center;
  border-spacing: 1em;
  border-color: red;
  border-style: groove;

}

/* STICKY FOOTER
-------------------------------------------------- */

.footer,
footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  max-height: 260px;
  min-height: 160px;
  background: #444;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: 2em;
  min-width:320px;
}

.credits{
    text-align:center;
    vertical-align: central;
    text-align: left;
    padding-left: 1em;
}

.not-available{
  visibility: collapse;
    background: blue;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

